// div {
// 	border: 1px solid green;
// }

body {
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	background-size: 100%;
}
.container {
	background-color: rgba(250, 250, 250, .9);
}


.products {
	border: none;
}
.jumbotron {
	color: #eee;
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	background-size: 100%;
}
.productBox {
	display: inline-block;
	list-style: none;
	width: 200px;
	height: 325px;
	li {
		list-style: none;	
	}
	img{
		max-width:90%;
		border: 1px solid black;
	}
}

.buyNow {
	color: white;
	background-color: lightseagreen;
	border: green;
}

.modal-body {
	img {
		width: 80%;
		padding: 0%, 10%, 2%, 10%;
	}
}